@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}
@keyframes blink-effect {
  50% {
    opacity: 0;
  }
}
body {
  font-family: "Pretendard-Regular";
}
.main-logo {
  border: none;
  background: none;
}
.login-button {
  display: flex;
  justify-content: flex-end;
  margin: 30px;
  cursor: pointer;
}
.login-text {
  margin-left: 10px;
  text-decoration: none;
  color: black;
  font-family: "Pretendard-Regular";
  font-weight: 100;
}
.nav-section {
  display: flex;
  justify-content: center;
}

.side-menu {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(243, 164, 157);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  z-index: 2;
}
.side-menu-list button {
  margin: 5px;
  border: none;
  background: none;
  width: 120px;
}

.side-menu .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  border: none;
  background: none;
}

.side-menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.burger-menu {
  margin: 15px;
}
.side-menu-list button:hover {
  background-color: rgb(247, 233, 231);
  border-radius: 3px;
}
.hide {
  display: none;
}

.menu-list {
  display: flex;
  list-style-type: none;
  margin-bottom: 0;
  font-family: "Pretendard-Regular";
  font-weight: 100;
}
.menu-list button {
  width: fit-content;
  justify-content: center;
  font-family: "Pretendard-Regular";
  font-weight: 100;
  margin: 5px;
  border: none;
  background: none;
}
.menu-area {
  display: flex;
  justify-content: center;
}

.search-space {
  padding: 10px;
  position: absolute;
  right: 20px;
}

.search-space input {
  padding: 5px;
  margin-left: 5px;
  margin-right: 15px;
  border: none;
  border-bottom: 1px solid black;
}
.product-card-comment{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  /* align-items: center; */
}
.product-card-hover:hover {
  transform: scale(1.1);
  transition: transform 0.3s;
}
.login-area {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-input-text {
  width: 400px;
}
.product-img {
  display: flex;
  justify-content: flex-end;
}
.detail-size-area {
  background-color: rgba(242, 230, 209, 0.958);
  height: 40px;
  padding: 10px;
  padding-left: 25px;
  margin-bottom: 10px;
}
.size-toggle {
  border: 1px solid black;
  width: fit-content;
  margin-top: 10px;
  margin-bottom: 20px;
}

.detail-button button {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 5px;
  font-family: "Pretendard-Regular";
  font-weight: 100;
}

.product-title {
  font-size: 25px;
}
.product-title-like-area {
  display: flex;
  justify-content: space-between;
}
.product-title-like-area button {
  border: none;
  background-color: white;
  font-size: 20px;
}
.more-info {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  font-family: "Pretendard-Regular";
  font-weight: 100;
  font-size: 13px;
}
.more-info button {
  border: none;
  background: none;
}
.store-info {
  color: rgba(69, 67, 67, 0.709);
}
.delivery-area {
  font-family: "Pretendard-Regular";
  font-weight: 100;
  font-size: 13px;
  margin-top: 20px;
}
.delivery-area div {
  margin: 10px;
}
.delivery-area button {
  border: none;
  background: none;
  font-size: 18px;
  margin: 10px;
}
.delivery-area button:hover {
  color: rgb(54, 54, 54);
}
.basic-font-conscious {
  font-family: "Pretendard-Regular";
  font-weight: 100;
  animation: blink-effect 1s step-end infinite;
}
.basic-font-conscious-main{
  font-family: "Pretendard-Regular";
  font-weight: 100;
  font-size: 10px;
  animation: blink-effect 1s step-end infinite;
}
.basic-font-price {
  font-family: "Pretendard-Regular";
  font-weight: 100;
  font-size: 15px;
}
.basic-font-new {
  font-family: "Pretendard-Regular";
  font-weight: 100;
  font-size: 13px;
}
.basic-font {
  font-family: "Pretendard-Regular";
  font-weight: 100;
}

/* search area와 menu list가 겹치는 부분으로 설정 */
@media screen and (max-width: 1100px) {
  .hide {
    display: block;
  }
  .menu-list {
    display: none;
  }
  .search-space {
    display: none;
  }
  .nav-section {
    margin-bottom: 30px;
  }
  .login-button {
    margin-right: 15px;
  }
  .product-card {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .product-img img {
    max-width: 100%;
  }
}
